body {
    background: linear-gradient(90deg, #3FFFD6 0%, #fff 100%);
}

#header {
    text-align: center;
}

#navigation {
    margin-left: 40px;
}


#content {
    margin-top: 40px;

}

a {
    color: #0000EE;
    font-size: 18px;
    text-decoration: underline;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    bak
}

h1 {
    color: rgb(102, 71, 71);
    font-family: Arial;
    font-weight: bold;
    text-align: center;
    padding: 5px;

}

h2 {
    font-weight: bold;
}


input {
    padding: 3px;
    font-size: 17px;
    border-width: 1px;
    border-color: #CCCCCC;
    background-color: #FFFFFF;
    color: #000000;
    border-style: solid;
    border-radius: 0px;
    box-shadow: 0px 0px 5px rgba(66, 66, 66, .75);
    cursor: text;
    display: inline-block;
}

input:focus {
    outline: none;
}


img {
    margin-left: 50px;
}

button {
    box-shadow: 3px 4px 0px 0px #899599;
    background: linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);
    background-color: #ededed;
    border-radius: 10px;
    border: 1px solid #d6bcd6;
    display: inline-block;
    cursor: pointer;
    color: #000000;
    font-family: Arial;
    font-size: 17px;
    font-weight: bold;
    padding: 7px 15px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #e1e2ed;
}

p {
    font-family: verdana;
    font-size: 20px;
    padding: 5px;
}

#empty_form {
    color: red;
    font-weight: bold;

}