{% extends "base.html" %}
{% block title %}Python Practicum 2022{% endblock %}
{% block header %}{% endblock %}

{% block head %}
{{ super() }}
<style type="text/css">
    .important {
        color: #336699;
    }
</style>
{% endblock %}

{% block content %}
<h2>Tasks</h2>
<H3>
    <ol>
        <li>
            <H3>Building simple Python flask app</H3>
        </li>
        <li>
            <H3>Building Python app with API integration</H3>
            <p>Adding CSS and HTML to pages. Learning about bootstrap etc.</p>
        </li>
    </ol>
</H3>
{% endblock %}