{% extends "index.html" %}
{% block title %}Python Practicum 2022{% endblock %}
{% block header %}{% endblock %}

{% block content %}

<div class="container">

    <div class="row row-cols ">
        <div class="col-md-4 gy-4">
            <div class="card">
                <div class="card-body">
                    <form action="/weather" method="post">
                        <div class="form-control-plaintext">
                            <label for="city_name">
                                <h5>City Name</h5>
                            </label>
                            <input type="text" id="city_name" name="city_name" class="form-control"
                                placeholder="Insert city here" required>
                        </div>
                        <button type="submit" class="btn btn-primary">Check weather</button>
                    </form>
                </div>
            </div>
            <div class="row" action="/log">
                {{last_five_cities | safe}}
            </div>
        </div>
        <div class="col-md-4">
            <div class="table" id="cities_log" action='/log'>
                {{last_five_cities | safe}}
            </div>
        </div>
        <div class="col-md-4 gy-4" id="weather_output">
            {% if city %} <h3>Weather in {{city}}, {{country}}</h3> {% else %} <h3>Weather</h3> {% endif %}
            <p>Temperature: {{temp}} C<br>Feels like {{feels_like}} C<br>
                Wind speed of {{wind}} m/s</p>
            <img src={{icon}}>
            <div class="col" action="/weather_history" method="GET">
                <a href='/weather_history'>Weather history for {{city}}</a>
            </div>
        </div>

        <div class="col-md-4 gy-4" id="coordinates">
            <h3>Coordinates</h3>
            <p>Latitude: {{lat_output}}</p>
            <p>Longitude: {{lon_output}}</p>

            <iframe width="450" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
                src={{map_src}} style="border: 1px solid black"></iframe><br /><small><a href={{map_link}}>View
                    Larger
                    Map</a></small>
        </div>

    </div>
</div>

{% endblock %}