<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Weather in {{city_name}}</title>

    <link rel="stylesheet" href="../css/styles.css" type="text/css">
    <style>
        body {
            background-color: rgb(200, 203, 201);
        }

        h1 {
            color: rgb(119, 119, 224);
        }

        p {
            color: rgb(0, 0, 0);
        }
    </style>
</head>

<body>
    <h1>Weather in {{city_name}}, {{data.sys.country}}</h1>
    <p>Temperature: {{data.main.temp}} C</p>
    <p>Wind speed: {{data.wind.speed}} m/s</p>
</body>

</html>